.painter-page-container {
  background-image: url("../../assets/pictor_png.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  place-items: center;
  height: 100vh;
  width: 100vw;
}

.main-section {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.resulted-image {
  height: 300px;
  width: 300px;
}

.input-text {
  background-color: #e4e4e4;
}

.responsive-image {
  position:fixed;
  left:12.9vw;
  width: 40vw;
  height: auto;
  /*max-width: 500px; !* Set a maximum width for the image *!*/
  /*margin-left: -30px;*/
}
img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  /* Adjust styling for screens with a maximum width of 768px */
  .responsive-image {
    left: 5vw;
    width: 90vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* Adjust styling for screens with a minimum width of 768px and a maximum width of 1024px */
  .responsive-image {
    left: 8vw;
    width: 60vw;
  }
}

@media screen and (min-width: 1024px) {
  /* Adjust styling for screens with a minimum width of 1024px */
  .responsive-image {
    left: 15.9vw;
    width: 40vw;
  }
}